<header>
    <nav>
        <ul class="navigation">
            <li><a href="/">Home Page</a></li>
            <li><a href="/cats/add-breed">Add Breed</a></li>
            <li><a href="/cats/add-cat">Add Cat</a></li>
        </ul>
    </nav>
    <h1>Cat Shelter</h1>
</header>
<main>
    <form action="#" method="post" class="cat-form">
        <h2>Shelter the cat</h2>
        <img src="{{imageUrl}}" alt="{{name}}">
        <label for="name">Name</label>
        <input type="text" id="name" value="{{name}}" disabled>
        <label for="description">Description</label>
        <textarea id="description" disabled>{{description}}</textarea>
        <label for="group">Breed</label>
        <select id="group" disabled>
            <option value="{{breed}}">{{breed}}</option>
        </select>
        <button>SHELTER THE CAT</button>
    </form>
</main>