   <header>
        <nav>
            <ul class="navigation">
                <li><a href="/">Home Page</a></li>
                <li><a href="/cats/add-breed">Add Breed</a></li>
                <li><a href="/cats/add-cat">Add Cat</a></li>
            </ul>
        </nav>
        <h1>Cat Shelter</h1>
        <form action="" method="">
            <input type="text" class="search" name="search" value="{{search}}" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <section class="cats">
            <ul>
                {{#if cats}}
                {{#each cats}}
                    <li>
                    <img src="{{imageUrl}}" alt="{{name}}">
                    <h3></h3>
                    <p><span>Breed: </span>{{breed}}</p>
                    <p><span>Description: </span>{{description}}</p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="/cats/edit/{{_id}}">Change Info</a></li>
                        <li class="btn delete"><a href="/cats/shelter/{{_id}}">New Home</a></li>
                    </ul>
                    </li>
                {{/each}}
                {{else}}
                    <h3 style="margin-left:auto; margin-right:auto">No cats found.</h3>
                {{/if}}
            </ul>
        </section>
    </main>
